<h1>Add Author</h1>

<%= form_for @author do |f| %>  <!-- form for creating new author -->

  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.submit 'Add Author' %>

<% end %>

<br><br>

<a href="/">Back</a>