<h3>Enter your secret password below:</h3>

<form action="/vault" method="post">
	<input type="password" name="password123" placeholder="Enter password">
	<input type="submit" value="Access Vault">
</form>