<!-- home template for usatoday_sinatra.rb file -->

<h1>Top 20 Books on USAToday</h1>

<p>Type a week number to view that weeks top 20 books featured on USAToday</p>

<!-- form to grab user input for week chosen -->
<form action="/books" method="post">
	<input type="text" name="week">
	<input type="submit" value="View List">
</form>