<!-- home template for pants.rb file -->

<h1>Should you wear pants or shorts?</h1>

<p>Enter your zipcode below to see if you should wear pants or shorts today?</p>
<p>Try entering a zip code like 90210 Beverly Hills, CA!</p>

<!-- form to grab zipcode entered by user -->
<form action="/pants" method="post">
	<input type="text" name="zipcode" autocomplete="off">
	<input type="submit" value="Tell me">
</form>