<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
    <div class="navbar-header">
    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed">
    		<span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<a class="navbar-brand" href="/">MyTurn</a>
    </div>

    <div class="collapse navbar-collapse" id="collapsed">
    	<ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Add Movie", new_movie_path %></li>
        <li><%= link_to "Now Playing", now_playing_path %></li>
      </ul>
    </div>
	</div><!-- container -->
</nav>