<h1>Zen Quote of the Day</h1>

<img src="<%= @lorem_pixel %>" />
<p><em><%= @rand_quote %></em></p>
<a href="https://www.google.com/webhp?hl=en#hl=en&q=<%= @google_search %>" target="_blank">
	Google it!
</a>


